<div class="login-container row mt-3">
  <div class="login-card col-5 offset-3">
    <h2>Connexion</h2>
    <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input
          id="username"
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': f?.['username']?.touched && f['username']?.errors }"
        />
        <div *ngIf="f?.['username']?.touched && f['username']?.errors" class="invalid-feedback">
          <div *ngIf="f['username']?.errors?.['required']">Nom d'utilisateur requis</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          id="password"
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': f?.['password']?.touched && f['password']?.errors }"
        />
        <div *ngIf="f?.['password']?.touched && f['password']?.errors" class="invalid-feedback">
          <div *ngIf="f['password']?.errors?.['required']">Mot de passe requis</div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Se connecter
        </button>
      </div>

      <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
    </form>
  </div>
</div>
